# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio 관련 파일/폴더
.vs/
*.vcxproj*
*.vcproj*
*.sln
*.user
*.suo
*.ncb
*.opensdf
*.sdf
*.cache
*.pdb
*.idb
*.ipch
*.tlog
*.log
*.obj
*.dll
*.exe
*.lib
*.exp
*.iobj
*.ipdb
*.aps
*.ilk
*.res
*.pch
*.map
*.bak
*.bsc
*.sbr
*.scc
*.vcxproj.filters
*.VC.db
*.VC.opendb
*.dbmdl

# 빌드 출력 폴더
Debug/
debug/
Release/
release/
x64/
x86/
ARM/